
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <h1 class="center">Velkommen</h1>
    <h2 class="grey-text text-darken-3">Det her er dit køleskab</h2>
    <h4><blockquote class="">
        This is an example quotation that uses the blockquote tag.
      </blockquote></h4>

    <p class="flow-text">One common flaw we've seen in many frameworks is a lack of support for truly responsive text. While elements on the page resize fluidly, text still resizes on a fixed basis. To ameliorate this problem, for text heavy pages, we've created a class that fluidly scales text size and line-height to optimize readability for the user. Line length stays between 45-80 characters and line height scales to be larger on smaller screens.</p>
{% endblock %}