{% extends "base.html" %} 
{% block title %}Sign Up{% endblock %} 
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="toast">
        {{ messages[0] }}. Go to <a class="" href="{{ url_for('.login') }}">login page</a>.
    </div>

{% endif %}
{% endwith %}
<div class="row container center">
  <h2>Sign Up</h2>
</div>

<div class="row container">
  <form method="POST" action="/signup">
    
    <!--name-->
    <div class="row">
        <div class="input-field">
          <input id="name" type="text" class="validate" />
          <label for="name">Name</label>
        </div>
      </div>
    
    <!--email-->
    <div class="row">
      <div class="input-field">
        <input id="email" type="email" class="validate" />
        <label for="email">Email</label>
      </div>
    </div>

    <!--password-->
    <div class="row">
      <div class="input-field">
        <input id="password" type="password" class="validate" />
        <label for="password">Password</label>
      </div>
    </div>

    <!--submit-->
    <div class="row">
      <button type="submit" class="btn">Sign Up</button>
    </div>
  </form>
</div>

{% endblock %}
